html {
    height: 100%;
}

body {
    height: 70%;
    margin: 10%;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #42ea25;
}

#main-holder {
    width: 40%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #b230e3;
    border-radius: 7px;
    box-shadow: 10px 10px 5px 2px black;
}

#login-error-msg-holder {
    width: 150%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

#login-error-msg {
    width: 30%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #1c0502;
    border: 5px solid #0b1f61;
    background-color: #49efa3;
    opacity: 0;
}

#error-msg-second-line {
    display: block;
}

#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: normal;
    align-items: center;
}

.login-form-field::placeholder {
    color: #8e8efd;
}

.login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: none;
    padding: 10px 10px 10px 10px;
}

#login-form-submit {
    width: 120%;
    padding: 30px;
    border: none;
    border-radius: 5px;
    color: #19ea0b;
    font-color: white;
    font-weight: bold;
    background-color: #7732f1;
    cursor: pointer;
    outline: #1c0502;
}

#clear-page-field {
    width: 24%;
    padding: 20%;
    border: 20px;
    border-radius: 1px;
    color: #0d0e0d;
    font-color: white;
    font-weight: bold;
    background-color: #eeeef5;
    cursor: pointer;
    outline: #b46767;
    padding: 10px 10px 10px 10px;
}
